<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Chất Liệu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body class="container-fluid">
<article th:replace="~{admin/fragments/article :: article}"></article>
<header th:replace="~{admin/fragments/header :: header}"></header>
<nav th:replace="~{admin/fragments/nav :: nav}"></nav>

<section class="page-content my-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2>Phiếu Giảm Giá</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <form method="get" action="/admin/phieu-giam-gia/index" class="row g-3">
                <div class="col-md-6 d-flex">
                    <input name="keyword" th:value="${keyword}" type="text" class="form-control me-2" style="height: 35px; line-height: 1;" placeholder="Search...">
                    <button type="submit" class="btn btn-outline-primary me-2" style="height: 35px; line-height: 1;">Search</button>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="ms-auto">
                        <a class="btn btn-outline-warning btn-sm" th:href="@{'/admin/phieu-giam-gia/add'}">
                            <i class="fas fa-info-circle"></i> Thêm mới
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="startDate" class="form-label">Ngày bắt đầu</label>
                    <input type="date" id="startDate" name="ngayBatDau" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="endDate" class="form-label">Ngày kết thúc</label>
                    <input type="date" id="endDate" name="ngayKetThuc" class="form-control">
                </div>

                <!-- Loại giảm giá -->
                <div class="col-md-3">
                    <label for="kieuGiamGia" class="form-label">Loại giảm giá</label>
                    <select id="kieuGiamGia" name="kieuGiamGia" class="form-select">
                        <option value="">Chọn</option>
                        <option value="1" th:selected="${trangThai == 1}">%</option>
                        <option value="0" th:selected="${trangThai == 0}">VND</option>
                    </select>
                </div>

                <!-- Trạng thái -->
                <div class="col-md-3">
                    <label for="trangThai" class="form-label">Trạng thái</label>
                    <select id="trangThai" name="trangThai" class="form-select">
                        <option value="">Chọn</option>
                        <option value="0" th:selected="${trangThai == 1}">Active</option>
                        <option value="1" th:selected="${trangThai == 1}">Inactive</option>
                    </select>
                </div>

            </form>
        </div>
    </div>


    <table id="resultList" class="table table-bordered table-hover text-center">
        <thead class="table-dark">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã Phiếu Giảm Giá</th>
            <th scope="col">Tên Phiếu Giảm Giá</th>
            <th scope="col">Số Lượng</th>
            <th scope="col">Điều Kiện Giảm</th>
            <th scope="col">Loại Giảm Giá</th>
            <th scope="col">Ngày Bắt Đầu</th>
            <th scope="col">Ngày Kết Thúc</th>
            <th scope="col">Giá Trị Giảm</th>
            <th scope="col">Giá Trị Tối Đa</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="phieuGiamGia, index : ${listPGG}">
            <td th:text="${index.index + 1}"></td>
            <td th:text="${phieuGiamGia.maPhieuGiamGia}"></td>
            <td th:text="${phieuGiamGia.tenPhieuGiamGia}"></td>
            <td th:text="${phieuGiamGia.soLuong}"></td>
            <td th:text="${phieuGiamGia.dieuKien}"></td>
            <td th:text="${phieuGiamGia.kieuGiamGia == 1 ? 'Phần trăm' : 'Giá tiền'}"></td>
            <td th:text="${phieuGiamGia.ngayBatDau}"></td>
            <td th:text="${phieuGiamGia.ngayKetThuc}"></td>
            <td th:text="${phieuGiamGia.kieuGiamGia == 1 ? phieuGiamGia.giaTriGiam + ' %' : phieuGiamGia.giaTriGiam + ' VND'}"></td>
            <td th:text="${phieuGiamGia.giaTriMax}"></td>
            <td th:text="${phieuGiamGia.trangThai == 0 ? 'Active' : 'Inactive'}"></td>
            <td>
                <form class="d-inline-block">
                    <a class="btn btn-info btn-sm" th:href="@{'/admin/phieu-giam-gia/detail/' + ${phieuGiamGia.id}}">
                        <i class="fas fa-info-circle"></i> Chi Tiết
                    </a>
                </form>
                <form class="d-inline-block" th:action="@{'/admin/phieu-giam-gia/delete/' + ${phieuGiamGia.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Xác nhận dừng hoạt động phiếu giảm giá?');">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="d-flex align-items-center">
            <label for="itemsPerPage" class="me-2">Xem</label>
            <select class="form-select form-select-sm" id="itemsPerPage" name="size" style="width: 80px;"
                    onchange="changeItemsPerPage()">
                <option value="5" th:selected="${size == 5}">5</option>
                <option value="10" th:selected="${size == 10}">10</option>
                <option value="15" th:selected="${size == 15}">15</option>
                <option value="20" th:selected="${size == 20}">20</option>
            </select>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                <!-- First button -->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{'/admin/phieu-giam-gia/index?page=0&size=' + ${size}}" aria-label="First">First</a>
                </li>
                <!-- Page numbers -->
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage + 1} ? 'active'">
                    <a class="page-link" th:href="@{'/admin/phieu-giam-gia/index?page=' + (${i} - 1) + '&size=' + ${size}}" th:text="${i}"></a>
                </li>
                <!-- Last button -->
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{'/admin/phieu-giam-gia/index?page=' + (${totalPages} - 1) + '&size=' + ${size}}" aria-label="Last">Last</a>
                </li>

            </ul>
        </nav>

    </div>
    <script>
        function changeItemsPerPage() {
            const selectedSize = document.getElementById("itemsPerPage").value;
            const currentPage = /*[[${currentPage}]]*/ 0;  // Chọn trang đầu khi thay đổi số lượng mục
            const url = `/admin/phieu-giam-gia/index?page=${currentPage}&size=${selectedSize}`;
            window.location.href = url;
        }
    </script>

    <!--    <script>-->
<!--        function changeItemsPerPage() {-->
<!--            const selectedSize = document.getElementById("itemsPerPage").value;-->
<!--            const currentPage = [[${currentPage}]];-->
<!--            const url = `/admin/phieu-giam-gia/index?page=${currentPage}&size=${selectedSize}`;-->
<!--            window.location.href = url;-->
<!--        }-->
<!--    </script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        // Khi có sự thay đổi trong select box-->
<!--        $('#kieuGiamGia, #trangThai').on('change', function () {-->
<!--            // Lấy giá trị của các select-->
<!--            var kieuGiamGia = $('#kieuGiamGia').val();-->
<!--            var trangThai = $('#trangThai').val();-->

<!--            // Thực hiện filter hoặc gọi API để lấy danh sách lọc-->
<!--            filterResults(kieuGiamGia, trangThai);-->
<!--        });-->
<!--        // Hàm thực hiện lọc danh sách-->
<!--        function filterResults(kieuGiamGia, trangThai) {-->
<!--            // Gửi yêu cầu AJAX để lấy danh sách dựa trên filter-->
<!--            $.ajax({-->
<!--                url: '/admin/phieu-giam-gia/filter',  // Đường dẫn đến API xử lý filter-->
<!--                method: 'GET',-->
<!--                data: {-->
<!--                    kieuGiamGia: kieuGiamGia,-->
<!--                    trangThai: trangThai-->
<!--                },-->
<!--                success: function (response) {-->
<!--                    // Xử lý kết quả trả về-->
<!--                    $('#resultList').html(response); // Cập nhật danh sách mới lên bảng-->
<!--                },-->
<!--                error: function () {-->
<!--                    alert('Lỗi khi lấy dữ liệu!');-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    });-->
<!--</script>-->
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</section>
</body>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMX2pS3L6yA6toD4EEuy8nOwB5Kdu06A7xR/X" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/javascrip/admin.js}"></script>
</html>