<div th:fragments="table">
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Kích cỡ</th>
            <th>Màu sắc</th>
            <th>Thương hiệu</th>
            <th>Chất liệu</th>
            <th>Kiểu tay aó</th>
            <th>Kiểu cổ aó</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spct : ${ListSPCT}">
            <td th:text="${spct.id}"></td>
            <td th:text="${spct.sanPham.tenSanPham}"></td>
            <td th:text="${spct.kichCo.tenKichCo}"></td>
            <td th:text="${spct.mauSac.tenMauSac}"></td>
            <td th:text="${spct.sanPham.thuongHieu.tenThuongHieu}"></td>
            <td th:text="${spct.sanPham.chatLieu.tenChatLieu}"></td>
            <td th:text="${spct.sanPham.tayAo.tenTayAo}"></td>
            <td th:text="${spct.sanPham.coAo.tenCoAo}"></td>
            <td th:text="${#numbers.formatDecimal(spct.gia, 1, 'COMMA', 0, 'POINT')} + 'đ'"></td>
            <td th:text="${spct.soLuong}"></td>
            <td th:text="${spct.trangThai}"></td>
            <td>
                <a th:href="@{/admin/taiquay/add-sanpham-hdct/{id}(id=${spct.id})}">
                    <button class="btn btn-success btn-sm" style="border-radius: 8px; text-align: center">+</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div th:fragments="form">
    <form id="filterForm" action="/admin/taiquay/sanpham#sanpham" method="GET">
        <div class="form-grid">
            <!-- ComboBox Lọc Kích Cỡ -->
            <label for="sizeFilter">Kích Cỡ:</label>
            <select id="sizeFilter" name="kichCoId" onchange="submitForm()">
                <option value="">Chọn kích cỡ</option>
                <option th:each="kichco : ${kichCo}"
                        th:value="${kichco.id}"
                        th:text="${kichco.tenKichCo}"
                        th:selected="${kichco.id == kichCoId and kichCoId != null}">
                </option>
            </select>

            <!-- ComboBox Lọc Màu Sắc -->
            <label for="colorFilter">Màu Sắc:</label>
            <select id="colorFilter" name="mauSacId" onchange="submitForm()">
                <option value="">Chọn màu sắc</option>
                <option th:each="mausac : ${mauSac}"
                        th:value="${mausac.id}"
                        th:text="${mausac.tenMauSac}"
                        th:selected="${mausac.id == mauSacId and mauSacId != null}">
                </option>
            </select>

            <!-- ComboBox Lọc Thương Hiệu -->
            <label for="brandFilter">Thương Hiệu:</label>
            <select id="brandFilter" name="thuongHieuId" onchange="submitForm()">
                <option value="">Chọn thương hiệu</option>
                <option th:each="thuongHieu : ${thuongHieu}"
                        th:value="${thuongHieu.id}"
                        th:text="${thuongHieu.tenThuongHieu}"
                        th:selected="${thuongHieu.id == thuongHieuId and thuongHieuId != null}">
                </option>
            </select>

            <!-- ComboBox Lọc Chất Liệu -->
            <label for="materialFilter">Chất Liệu:</label>
            <select id="materialFilter" name="chatLieuId" onchange="submitForm()">
                <option value="">Chọn chất liệu</option>
                <option th:each="chatLieu : ${chatLieu}"
                        th:value="${chatLieu.id}"
                        th:text="${chatLieu.tenChatLieu}"
                        th:selected="${chatLieu.id == chatLieuId and chatLieuId != null}">
                </option>
            </select>

            <!-- ComboBox Lọc Tay Áo -->
            <label for="sleeveFilter">Tay Áo:</label>
            <select id="sleeveFilter" name="tayAoId" onchange="submitForm()">
                <option value="">Chọn tay áo</option>
                <option th:each="tayao : ${tayAo}"
                        th:value="${tayao.id}"
                        th:text="${tayao.tenTayAo}"
                        th:selected="${tayao.id == tayAoId and tayAoId != null}">
                </option>
            </select>

            <!-- ComboBox Lọc Cổ Áo -->
            <label for="collarFilter">Cổ Áo:</label>
            <select id="collarFilter" name="coAoId" onchange="submitForm()">
                <option value="">Chọn cổ áo</option>
                <option th:each="coao : ${coAo}"
                        th:value="${coao.id}"
                        th:text="${coao.tenCoAo}"
                        th:selected="${coao.id == coAoId and coAoId != null}">
                </option>
            </select>

            <!-- Input tìm kiếm sản phẩm -->
            <!--                        <input type="text" id="productSearch" placeholder="Nhập tên sản phẩm" th:value="${keyword}" name="keyword" oninput="submitForm()">-->
            <input type="text" id="productSearch" placeholder="Nhập tên sản phẩm" th:value="${keyword}" name="keyword"
                   oninput="submitAjaxForm()">
            <button id="btnSearch">Tìm kiếm</button>
        </div>

    </form>
</div>
<!-- Phân trang-->
<div th:fragments="nav">
                <nav>
                    <ul class="pagination justify-content-center">
                        <!-- First button -->
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{'/admin/taiquay/sanpham?page=0&size=' + ${size} + '&keyword=' + ${keyword != null ? keyword : ''}
                               + '&kichCoId=' + ${kichCoId != null ? kichCoId : ''}
                               + '&mauSacId=' + ${mauSacId != null ? mauSacId : ''}
                               + '&thuongHieuId=' + ${thuongHieuId != null ? thuongHieuId : ''}
                               + '&chatLieuId=' + ${chatLieuId != null ? chatLieuId : ''}
                               + '&tayAoId=' + ${tayAoId != null ? tayAoId : ''}
                               + '&coAoId=' + ${coAoId != null ? coAoId : '' }
                               + '#sanpham'}"
                               aria-label="First">First</a>
                        </li>
                        <!-- Page numbers -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${i == currentPage + 1} ? 'active'">
                            <a class="page-link"
                               th:href="@{'/admin/taiquay/sanpham?page=' + (${i} - 1) + '&size=' + ${size} + '&keyword=' + ${keyword != null ? keyword : ''}
                               + '&kichCoId=' + ${kichCoId != null ? kichCoId : ''}
                               + '&mauSacId=' + ${mauSacId != null ? mauSacId : ''}
                               + '&thuongHieuId=' + ${thuongHieuId != null ? thuongHieuId : ''}
                               + '&chatLieuId=' + ${chatLieuId != null ? chatLieuId : ''}
                               + '&tayAoId=' + ${tayAoId != null ? tayAoId : ''}
                               + '&coAoId=' + ${coAoId != null ? coAoId : '' }
                               + '#sanpham'}"
                               th:text="${i}"></a>
                        </li>
                        <!-- Last button -->
                        <li class="page-item"
                            th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{'/admin/taiquay/sanpham?page=' + (${totalPages} - 1) + '&size=' + ${size} + '&keyword=' + ${keyword != null ? keyword : ''}
                               + '&kichCoId=' + ${kichCoId != null ? kichCoId : ''}
                               + '&mauSacId=' + ${mauSacId != null ? mauSacId : ''}
                               + '&thuongHieuId=' + ${thuongHieuId != null ? thuongHieuId : ''}
                               + '&chatLieuId=' + ${chatLieuId != null ? chatLieuId : ''}
                               + '&tayAoId=' + ${tayAoId != null ? tayAoId : ''}
                               + '&coAoId=' + ${coAoId != null ? coAoId : '' }
                               + '#sanpham'}"
                               aria-label="Last">Last</a>
                        </li>
                    </ul>
                </nav>
</div>
<div th:fragments="script">
    <script>
        function submitForm() {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(function () {
                document.getElementById("filterForm").submit();
            }, 500);  // Trì hoãn 500ms trước khi submit form
        }

        let timeout = null;

        function submitAjaxForm() {
            clearTimeout(timeout);  // Xóa timeout nếu người dùng vẫn đang nhập

            timeout = setTimeout(() => {  // Đợi 300ms trước khi gửi yêu cầu
                const form = document.getElementById('filterForm');
                const formData = new FormData(form);
                const params = new URLSearchParams(formData);

                fetch(`/admin/taiquay/sanpham?${params.toString()}`, {
                    method: 'GET',
                })
                    .then(response => response.text())
                    .then(html => {
// Cập nhật lại phần table sản phẩm
                        document.getElementById('sanphamTable').innerHTML = html;
                    })
                    .catch(error => console.error('Error:', error));
            }, 300);  // Chỉ gửi yêu cầu sau khi người dùng ngừng nhập trong 300ms
        }

        function changeItemsPerPage2() {
            const selectedSize = document.getElementById("itemsPerPage2").value;
            const currentPage = 0;
            const url = `/admin/taiquay/sanpham?page=${currentPage}&size=${selectedSize}#sanpham`;
            window.location.href = url;
        }
    </script>

</div>