<div th:fragments="table">
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Kích cỡ</th>
            <th>Màu sắc</th>
            <th>Thương hiệu</th>
            <th>Chất liệu</th>
            <th>Kiểu tay aó</th>
            <th>Kiểu cổ aó</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spct : ${ListSPCT}">
            <td th:text="${spct.id}"></td>
            <td th:text="${spct.sanPham.tenSanPham}"></td>
            <td th:text="${spct.kichCo.tenKichCo}"></td>
            <td th:text="${spct.mauSac.tenMauSac}"></td>
            <td th:text="${spct.sanPham.thuongHieu.tenThuongHieu}"></td>
            <td th:text="${spct.sanPham.chatLieu.tenChatLieu}"></td>
            <td th:text="${spct.sanPham.tayAo.tenTayAo}"></td>
            <td th:text="${spct.sanPham.coAo.tenCoAo}"></td>
            <td th:text="${spct.gia}"></td>
            <td th:text="${spct.soLuong}"></td>
            <td th:text="${spct.trangThai}"></td>
            <td>
                <a th:href="@{/admin/taiquay/add-sanpham-giohang/{id}(id=${spct.id})}">
                <button class="btn btn-success btn-sm" style="border-radius: 8px; text-align: center">+</button>
                </a>
            </td>
            <td>
                <a th:href="@{/admin/taiquay/add-sanpham-hdct/{id}(id=${spct.id})}">
                    <button class="btn btn-success btn-sm" style="border-radius: 8px; text-align: center">+HDCT</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>