.sizeAlert {
    height: 150px;
    width: 250px;
    font-size: 10px;
}
.imguser img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.chuus {
    font-family: 'Arial', sans-serif; /* Chọn font chữ */
    font-size: 20px; /* Kích thước chữ */
    color: #333; /* Màu chữ */
padding-top: 10px;

}

.chuus span {
    font-weight: bold; /* Làm chữ trong span đậm hơn */
    color: #007bff; /* Màu chữ cho tên người dùng */
}
