.sizeAlert {
    height: 150px;
    width: 250px;
    font-size: 10px;
}
.imguser img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.chuus {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #333;
padding-top: 10px;

}

.chuus span {
    font-weight: bold;
    color: #007bff;
}

.header-icons {
    position: relative;
    z-index: 5;
}

.account-dropdown {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 6;
}

.imguser:hover + .account-dropdown {
    display: block;
}

.product-card {
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
}

.product-card:hover {
    z-index: 10;
    transform: scale(1.05);
}

.carousel {
    z-index: 1;
}
.account-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 6;
}
.account-dropdown {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 6;
}
