::backdrop {
    background-image: linear-gradient(
            45deg,
            white,
            green
    );
    opacity: 0.75;
}

/*.search-bar {*/
/*    display: flex;*/
/*    align-items: center; !* Vertically aligns the button and input *!*/
/*}*/

/*.search-bar input {*/
/*   width: 50%;*/
/*    margin: 10px 10px 10px 10px;*/
/*    font-size: 16px;*/
/*}*/

/*.search-bar button {*/
/*    margin: 10px 10px 10px 10px; !* Adds space between input and button *!*/
/*    background-color: #333;*/
/*    color: white;*/
/*    border: 5px;*/
/*    font-size: 16px;*/
/*}*/

/*.search-bar button:hover {*/
/*    background-color: #555; !* Darkens the button on hover *!*/
/*}*/

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
