<div th:fragments="form">
<form th:action="@{/admin/khachhang/add}" th:object="${khachHang}" method="post">
  <div class="row">

    <label for="id">ID:</label>
    <input type="number" th:field="*{id}" id="id">

    <div class="col-sm-6">
      <label class="form-label">Ảnh Đại Diện</label>
      <input type="text" class="form-control" th:field="*{anhUrl}">
    </div>

    <div class="col-sm-6">
      <label class="form-label">Tên Khách Hàng</label>
      <input type="text" class="form-control" th:field="*{ten}">
      <span th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></span>

    </div>

    <div class="col-sm-6">
      <label  class="form-label">Ngày Sinh</label>
      <input type="date" class="form-control" th:field="*{ngaySinh}">
      <span th:if="${#fields.hasErrors('ngaySinh')}" th:errors="*{ngaySinh}"></span>
    </div>

    <div class="col-sm-6">
      <label class="form-label">Giới Tính</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name=""  value="1" th:field="*{gioiTinh}" checked>
        <label class="form-check-label">
          Nam
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name=""  value="0" th:field="*{gioiTinh}">
        <label class="form-check-label">
          Nu
        </label>
      </div>
      <span th:if="${#fields.hasErrors('gioiTinh')}" th:errors="*{gioiTinh}"></span>

    </div>

    <div class="col-sm-6">
      <label  class="form-label">SDT</label>
      <input type="number" class="form-control"  th:field="*{soDienThoai}">
      <span th:if="${#fields.hasErrors('soDienThoai')}" th:errors="*{soDienThoai}"></span>

    </div>

    <div class="col-sm-6">
      <label class="form-label">Email</label>
      <input type="text" class="form-control"  th:field="*{email}">
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    </div>

    <div class="col-sm-6">
      <label class="form-label">Tài Khoản</label>
      <select class="form-select" aria-label="Default select example" th:field="*{taiKhoan}">
        <option th:each="taiKhoan : ${listTK}" th:value="${taiKhoan.id}"  th:text="${taiKhoan.id}"></option>
      </select>
    </div>

    <div class="col-sm-6">
      <label class="form-label">Trạng Thái</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="" value="0" th:field="*{trangThai}">
        <label class="form-check-label">
          Không Hoạt Động
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name=""  value="1" th:field="*{trangThai}">
        <label class="form-check-label">
          Hoạt Động
        </label>
      </div>
      <span th:if="${#fields.hasErrors('trangThai')}" th:errors="*{trangThai}"></span>

    </div>
    <button class="btn btn-danger">Submit</button>
  </div>
  <a href="#" class="modal__close">&times;</a>
</form>
</div>
