
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Hóa Đơn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />


    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <style>
        .status {
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
        }

        .status.shipping {
            background-color: #f0ad4e; /* Màu cam nhạt */
            color: white;
        }

        .status.paid {
            background-color: #5cb85c; /* Màu xanh lá */
            color: white;
        }

        .status i {
            margin-right: 5px; /* Khoảng cách giữa icon và chữ */
        }
        .status.success {
            background-color: #28a745; /* Màu xanh lá */
            color: white; /* Chữ màu trắng */
            padding: 5px 10px; /* Khoảng cách bên trong */
            border-radius: 5px; /* Bo góc */
            display: inline-flex; /* Hiển thị linh hoạt */
            align-items: center; /* Căn giữa nội dung theo chiều dọc */
            font-weight: bold; /* Chữ đậm */
        }
        /* Trạng thái "Đã Hủy" */
        .status.canceled {
            background-color: #dc3545; /* Màu đỏ */
            color: white; /* Chữ màu trắng */
            padding: 5px 10px; /* Khoảng cách bên trong */
            border-radius: 5px; /* Bo góc */
            display: inline-flex; /* Hiển thị linh hoạt */
            align-items: center; /* Căn giữa nội dung theo chiều dọc */
            font-weight: bold; /* Chữ đậm */
        }
        /* Tùy chỉnh màu sắc */
        .pagination .page-link {
            border: 1px solid #ddd;
            background-color: #f8f9fa;
        }

        .pagination .page-link:hover {
            background-color: #007bff;
            color: #fff;
        }

        .pagination .active .page-link {
            background-color: #007bff;
            color: white;
        }

        .pagination .disabled .page-link {
            background-color: #e9ecef;
            color: #6c757d;
        }



    </style>

</head>
<body class="container-fluid">
<article th:replace="~{admin/fragments/article :: article}"></article>
<header th:replace="~{admin/fragments/header :: header}"></header>
<nav th:replace="~{admin/fragments/nav :: nav}"></nav>

<section class="page-content my-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2>Danh Sách Hóa Đơn</h2>
        </div>
        <div class="col-md-6">
            <br>

            <form th:action="@{/admin/hoadon/search}" method="get" class="d-flex">
                <input type="text" class="form-control me-2" placeholder="Tìm kiếm..." name="keyword" id="keyword"  />
                <button type="submit" class="btn btn-link p-0">
                    <img src="https://img.icons8.com/win8/200/228BE6/google-web-search.png" alt="Search" style="width: 40px; height: 40px; border-radius: 8px;" />
                </button>
            </form>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="mb-3">
                <label for="trangThaiFilter" class="form-label">Lọc theo Trạng Thái:</label>
                <div class="input-group">
                    <select id="trangThaiFilter" class="form-select form-select-sm" onchange="filterByStatus()">
                        <option value="all" th:selected="${status == 'all'}">Tất cả</option>
                        <option value="2" th:selected="${status == '2'}">Chờ Xác Nhận</option>
                        <option value="3" th:selected="${status == '3'}">Đang Chuẩn Bị Hàng</option>
                        <option value="4" th:selected="${status == '4'}">Đang Giao Hàng</option>
                        <option value="5" th:selected="${status == '5'}">Giao Hàng Thành Công</option>
                        <option value="6" th:selected="${status == '6'}">Đã Hủy</option>
                    </select>



                </div>

            </div>
            <div class="col-md-6 mb-3">
                <label for="loaiHoaDonFilter" class="form-label">Lọc theo Loại Hóa Đơn:</label>
                <div class="input-group">
                    <select id="loaiHoaDonFilter" class="form-select form-select-sm" onchange="filterByLoaiHoaDon()">
                        <option value="all" th:selected="${loaiHoaDon == 'all'}">Tất cả</option>
                        <option value="Online" th:selected="${loaiHoaDon == 'Online'}">Online</option>
                        <option value="T?i qu?y" th:selected="${loaiHoaDon == 'T?i qu?y'}">Tại Quầy</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="phuongthucFilter" class="form-label">Lọc theo Phương Thức:</label>
                <div class="input-group">
                    <select id="phuongthucFilter" class="form-select form-select-sm" onchange="filterByPhuongThuc()">
                        <option value="all" th:selected="${tenPhuongThuc == 'all'}">Tất cả</option>
                        <option value="Thanh toán khi nh?n hàng" th:selected="${tenPhuongThuc == 'Thanh toán khi nh?n hàng'}">Thanh Toán Khi Nhận Hàng</option>
                        <option value="Ví đi?n t?" th:selected="${tenPhuongThuc == 'Ví đi?n t?'}">Ví điện tử</option>
                        <option value="Th? tín d?ng" th:selected="${tenPhuongThuc == 'Th? tín d?ng'}">Thẻ Tín Dụng</option>
                        <option value="Th? ghi n?" th:selected="${tenPhuongThuc == 'Th? ghi n?'}">Thẻ Ghi Nợ</option>
                        <option value="Chuy?n kho?n ngân hàng" th:selected="${tenPhuongThuc == 'Chuy?n kho?n ngân hàng'}">Chuyển Khoản Ngân Hàng</option>
                    </select>
                </div>
            </div>


            <div class="mb-3">
                <button id="btnExportHoaDon" class="btn btn-success" onclick="exportHoaDon()">
                    <i class="fas fa-file-excel"></i> Xuất Hóa Đơn
                </button>
            </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon" th:classappend="${activeTab == 'all' ? 'active' : ''}">Danh Sách Hóa Đơn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon/tai-quay" th:classappend="${activeTab == 'tai-quay' ? 'active' : ''}">Tại quầy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon/online" th:classappend="${activeTab == 'online' ? 'active' : ''}">Online</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon/prepare" th:classappend="${activeTab == 'prepare' ? 'active' : ''}">Đang Chuẩn Bị Hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon/shipping" th:classappend="${activeTab == 'shipping' ? 'active' : ''}">Đang Giao Hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon/delivered" th:classappend="${activeTab == 'delivered' ? 'active' : ''}">Giao Hàng Thành Công</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/hoadon/fall" th:classappend="${activeTab == 'fall' ? 'active' : ''}">Đã Hủy</a>
        </li>

    </ul>


    <div class="table-responsive mt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                                    <th>Tên Người Nhận</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Địa Chỉ</th>
                                    <th>Phương Thức Thanh Toán</th>
                                    <th>Tổng Tiền</th>
                                    <th>Ghi Chú</th>
                <th>Loại Hóa Đơn</th>
                <th>Trạng Thái</th>

                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hoaDon : ${listHD}">
                <td th:text="${hoaDon.id}"></td>
                <td th:text="${hoaDon.khachHang != null ? hoaDon.khachHang.ten : 'Khách Lẻ'}"></td>
                <td th:text="${hoaDon.diaChi == null ? '' : hoaDon.diaChi.soDienThoai}"></td>
                <td th:text="${hoaDon.diaChi == null ? '' : hoaDon.diaChi.diaChiChiTiet}"></td>
                <td th:text="${hoaDon.phuongThucThanhToan != null ? hoaDon.phuongThucThanhToan.tenPhuongThuc : ''}"></td>
                <td th:text="${#numbers.formatDecimal(hoaDon.tongTien, 1, 'COMMA', 0, 'POINT')} + ' đ'"></td>
                <td th:text="${hoaDon.ghiChu != null ? hoaDon.ghiChu : 'N/A'}"></td>
                <td th:text="${hoaDon.loaiHoaDon != null ? hoaDon.loaiHoaDon : ''}"></td>
                <td th:text="${hoaDon.trangThai == 2 ? 'Chờ Xác Nhận' :
                  hoaDon.trangThai == 3 ? 'Đang Chuẩn Bị Hàng' :
                  hoaDon.trangThai == 4 ? 'Đang Giao Hàng' :
                  hoaDon.trangThai == 5 ? 'Hoàn Thành' :
                  hoaDon.trangThai == 6 ? 'Đã Hủy' : 'Chưa Thanh Toán'}"></td>

                <td>
                    <div class="d-flex justify-content-start align-items-center">
                        <a th:href="@{/admin/hoadon/detail/{id}(id=${hoaDon.id})}" class="btn btn-outline-primary btn-sm mr-2">
                            Chi Tiết
                        </a>
<!--                        <div class="mb-3" th:if="${activeTab == 'all'}">-->
<!--                            <button class="btn btn-success btn-sm" th:onclick="|exportHoaDonById(${hoaDon.id})|">-->
<!--                                <i class="fas fa-file-excel"></i> Xuất EX-->
<!--                            </button>-->
<!--                        </div>-->
                    </div>
                <div class="mb-3" th:if="${activeTab == 'online'}">
                    <a class="btn btn-outline-success" th:attr="data-id=${hoaDon.id}">
                        Xác Nhận
                    </a>
                    <a type="button" class="btn btn-outline-danger" th:attr="data-id=${hoaDon.id}">
                        Hủy Đơn
                    </a>
                </div>
                    <div class="mb-3" th:if="${activeTab == 'prepare'}">
                        <a class="btn btn-outline-success" th:attr="data-id=${hoaDon.id}">
                            Xác Nhận
                        </a>
                        <a type="button" class="btn btn-outline-danger" th:attr="data-id=${hoaDon.id}">
                            Hủy Đơn
                        </a>
                    </div>

                    <div class="mb-3" th:if="${activeTab == 'shipping'}">
                        <a class="btn btn-outline-success" th:attr="data-id=${hoaDon.id}">
                            Xác Nhận
                        </a>

                    </div>
                </td>



            </tr>
            </tbody>
        </table>


        <div>

            <ul class="pagination justify-content-center">
                <!-- Nút "First" dẫn đến trang đầu tiên -->
                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/admin/hoadon(pageNo=1, tab=${activeTab})}">First</a>
                </li>

                <!-- Các trang trung gian -->
                <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:class="${i == currentPage} ? 'active' : ''">
                    <a class="page-link" th:href="@{/admin/hoadon(pageNo=${i}, tab=${activeTab})}" th:text="${i}"></a>
                </li>

                <!-- Nút "Last" dẫn đến trang cuối cùng -->
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/admin/hoadon(pageNo=${totalPages}, tab=${activeTab})}">Last</a>
                </li>
            </ul>

        </div>
    </div>

    </div>
</section>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".btn-outline-success"); // Đúng class nút cần thêm sự kiện

        buttons.forEach(button => {
            button.addEventListener("click", function () {
                const hoaDonId = this.getAttribute("data-id");
                const confirmed = confirm("Bạn có muốn chuyển trạng thái hóa đơn này?");

                if (confirmed) {
                    fetch(`/admin/hoadon/update-status/${hoaDonId}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ trangThai: 3 }) // Cập nhật trạng thái thành 3
                    })
                        .then(response => {
                            if (response.ok) {
                                // Chuyển đổi phản hồi thành văn bản
                                return response.text().then(text => {
                                    try {
                                        // Phân tích thành JSON nếu có thể
                                        return JSON.parse(text);
                                    } catch (e) {
                                        // Nếu không phải JSON, trả về văn bản
                                        return { message: text };
                                    }
                                });
                            } else {
                                return Promise.reject("Có lỗi xảy ra khi cập nhật trạng thái hóa đơn.");
                            }
                        })
                        .then(data => {
                            alert(data.message || "Trạng thái hóa đơn đã được cập nhật thành công!");

                            // Lưu trạng thái tab hiện tại trước khi tải lại
                            const activeTab = document.querySelector('.nav-link.active');
                            if (activeTab) {
                                sessionStorage.setItem('activeTab', activeTab.getAttribute('id'));
                            }

                            window.location.reload(); // Tải lại trang sau khi cập nhật thành công
                        })
                        .catch(error => {
                            alert(error);
                            console.error("Lỗi:", error);
                            setTimeout(() => {
                                window.location.reload(); // Tải lại trang sau lỗi
                            }, 1000);
                        });
                }
            });
        });
    });



    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".btn-outline-danger");

        buttons.forEach(button => {
            button.addEventListener("click", function () {
                const hoaDonId = this.getAttribute("data-id");
                const confirmed = confirm("Bạn có muốn hủy đơn hàng này?");

                if (confirmed) {
                    fetch(`/admin/hoadon/cancel-order/${hoaDonId}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ trangThai: 6 })
                    })
                        .then(response => {
                            // Kiểm tra mã trạng thái
                            if (response.ok) {
                                // Chuyển đổi phản hồi thành văn bản
                                return response.text().then(text => {
                                    try {
                                        // Cố gắng phân tích cú pháp thành JSON
                                        return JSON.parse(text);
                                    } catch (e) {
                                        // Nếu không phải JSON, trả về thông điệp văn bản
                                        return { message: text }; // Trả về một đối tượng với thông điệp
                                    }
                                });
                            } else {
                                return Promise.reject("Có lỗi xảy ra khi hủy đơn.");
                            }
                        })
                        .then(data => {
                            alert(data.message || "Đơn hàng đã được hủy thành công!"); // Sử dụng thông điệp từ server nếu có

                            // Lưu trạng thái tab hiện tại trước khi tải lại
                            const activeTab = document.querySelector('.nav-link.active');
                            if (activeTab) {
                                sessionStorage.setItem('activeTab', activeTab.getAttribute('id'));
                            }

                            window.location.reload(); // Tải lại trang sau khi cập nhật thành công
                        })
                        .catch(error => {
                            alert(error);
                            console.error("Lỗi:", error);
                            setTimeout(() => {
                                window.location.reload(); // Tải lại trang
                            }, 1000);
                        });
                }
            });
        });
    });


    // Lắng nghe sự kiện chuyển tab
    document.querySelectorAll('.nav-link').forEach(tab => {
        tab.addEventListener('click', function () {
            // Lưu tab được chọn vào sessionStorage
            sessionStorage.setItem('activeTab', this.getAttribute('id'));
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const activeTab = sessionStorage.getItem('activeTab'); // Lấy tab đã lưu trong sessionStorage

        if (activeTab) {
            const tab = document.getElementById(activeTab);
            if (tab) {
                // Giả sử bạn dùng Bootstrap hoặc có cấu trúc tab với các phần tử có class 'nav-link'
                new bootstrap.Tab(tab).show(); // Chuyển đến tab đã lưu
            }
        }
    });

    function filterByStatus() {
        const status = document.getElementById('trangThaiFilter').value;
        window.location.href = `/admin/hoadon/filter?status=${status}&pageNo=1&pageSize=10`; // Điều chỉnh kích thước trang nếu cần
    }

    function filterByLoaiHoaDon() {
        const loaiHoaDon = document.getElementById('loaiHoaDonFilter').value;
        window.location.href = `/admin/hoadon/filter/loaiHoaDon?loaiHoaDon=${loaiHoaDon}&pageNo=1&pageSize=10`;
    }

    function exportHoaDon() {
        const url = '/admin/hoadon/export';
        window.location.href = url;
    }

    function exportHoaDonById(id) {
        var url = "/admin/hoadon/exportID/" + id;
        window.location.href = url;  // Mở URL để tải file Excel
    }

    // Lấy tất cả các td chứa tổng tiền
    const totalCells = document.querySelectorAll('td.tongTien');

    totalCells.forEach(cell => {
        let tongTien = parseFloat(cell.textContent.trim());
        if (!isNaN(tongTien)) {
            cell.textContent = tongTien.toFixed(2) + ' VNĐ';
        }
    });
    function changeUrl(path) {
        history.pushState(null, null, '/admin/' + path);  // Thay đổi URL mà không tải lại trang
    }
    function filterByPhuongThuc() {
        const tenPhuongThuc = document.getElementById('phuongthucFilter').value;
        window.location.href = `/admin/hoadon/filter/tenPhuongThuc?tenPhuongThuc=${tenPhuongThuc}&pageNo=1&pageSize=10`;
    }



</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/javascript/admin.js}"></script>
</body>
</html>
