<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Quản lý hóa đơn</title>-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h1 class="text-center">Quản lý hóa đơn</h1>-->

<!--    &lt;!&ndash; Tabs &ndash;&gt;-->
<!--    <ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/hoadontest" th:classappend="${activeTab == 'all' ? 'active' : ''}">Tất cả</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/hoadontest/tai-quay" th:classappend="${activeTab == 'tai-quay' ? 'active' : ''}">Tại quầy</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/hoadontest/online" th:classappend="${activeTab == 'online' ? 'active' : ''}">Online</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/hoadontest/prepare" th:classappend="${activeTab == 'prepare' ? 'active' : ''}">Đang Chuẩn Bị Hàng</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/hoadontest/shipping" th:classappend="${activeTab == 'shipping' ? 'active' : ''}">Đang Giao Hàng</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/hoadontest/delivered" th:classappend="${activeTab == 'delivered' ? 'active' : ''}">Giao Hàng Thành Công</a>-->
<!--        </li>-->

<!--    </ul>-->

<!--    &lt;!&ndash; Table &ndash;&gt;-->
<!--    <div class="table-responsive mt-3">-->
<!--        <table class="table table-bordered">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Mã hóa đơn</th>-->
<!--                <th>Ngày tạo</th>-->
<!--                <th>Trạng thái</th>-->
<!--                <th>Tổng tiền</th>-->
<!--                <th>Chức năng</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="hoaDon : ${listHD}">-->
<!--                <td th:text="${hoaDon.tenNguoiNhan}"></td>-->
<!--                <td th:text="${hoaDon.ngayTao}"></td>-->
<!--                <td th:text="${hoaDon.trangThai == 2 ? 'Chờ Xác Nhận' :-->
<!--                  hoaDon.trangThai == 3 ? 'Đang Chuẩn Bị Hàng' :-->
<!--                  hoaDon.trangThai == 4 ? 'Đang Giao Hàng' :-->
<!--                  hoaDon.trangThai == 5 ? 'Giao Hàng Thành Công' :-->
<!--                  hoaDon.trangThai == 6 ? 'Đã Hủy' : 'Unknown'}"></td>-->
<!--                <td th:text="${hoaDon.tongTien}"></td>-->
<!--                <td th:if="${activeTab == 'all'}">-->
<!--                    <a th:href="@{/admin/hoadon/detail/{id}(id=${hoaDon.id})}" class="btn btn-outline-primary">-->
<!--                        Chi Tiết-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->

<!--        &lt;!&ndash; Pagination &ndash;&gt;-->
<!--        <div>-->
<!--            <ul class="pagination">-->
<!--                <li th:class="${currentPage == 1} ? 'disabled' : ''">-->
<!--                    <a th:href="@{/hoadontest(pageNo=${currentPage - 1}, tab=${activeTab})}">Trước</a>-->
<!--                </li>-->
<!--                <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage} ? 'active' : ''">-->
<!--                    <a th:href="@{/hoadontest(pageNo=${i}, tab=${activeTab})}" th:text="${i}"></a>-->
<!--                </li>-->
<!--                <li th:class="${currentPage == totalPages} ? 'disabled' : ''">-->
<!--                    <a th:href="@{/hoadontest(pageNo=${currentPage + 1}, tab=${activeTab})}">Sau</a>-->
<!--                </li>-->
<!--            </ul>-->

<!--        </div>-->
<!--    </div>-->
<!--    <div th:if="${activeTab == 'all'}">-->
<!--        <a href="#" class="btn btn-info">Chi tiết</a>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Bootstrap JS &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>-->
<!--</body>-->
<!--</html>-->
