<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Hóa Đơn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body class="container-fluid">
<article th:replace="~{admin/fragments/article :: article}"></article>
<header th:replace="~{admin/fragments/header :: header}"></header>
<nav th:replace="~{admin/fragments/nav :: nav}"></nav>

<section class="page-content my-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2>Danh Sách Hóa Đơn</h2>
        </div>
        <div class="col-md-6">
            <br>
            <form th:action="@{/admin/hoadon/search}" method="get" class="d-flex">
                <input type="text" class="form-control me-2" placeholder="Tìm kiếm..." name="keyword" id="keyword" />
                <button type="submit" class="btn btn-link p-0">
                    <img src="https://img.icons8.com/win8/200/228BE6/google-web-search.png" alt="Search" style="width: 40px; height: 40px; border-radius: 8px;" />
                </button>
            </form>

        </div>


    </div>

    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên Người Nhận</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Địa Chỉ</th>
            <th scope="col">Phương Thức Thanh Toán</th>
            <th scope="col">Tổng Tiền</th>
            <th scope="col">Ghi Chú</th>
            <th scope="col">Trạng Thái</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hoaDon : ${listHD}">
            <td th:text="${hoaDon.id}"></td>
            <td th:text="${hoaDon.tenNguoiNhan}"></td>
            <td th:text="${hoaDon.sdt}"></td>
            <td th:text="${hoaDon.emailNguoiNhan}"></td>
            <td th:text="${hoaDon.diaChi ==  null ? '' : hoaDon.diaChi.diaChiChiTiet}"></td>
            <td th:text="${hoaDon.phuongThucThanhToan ==  null ? '' : hoaDon.phuongThucThanhToan.tenPhuongThuc}"></td>
            <td th:text="${hoaDon.tongTien}"></td>
            <td th:text="${hoaDon.ghiChu}"></td>
            <td>
                <span th:text="${hoaDon.trangThai == 1 ? 'Chưa Thanh Toán' : 'Đã Thanh Toán'}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div th:if="${totalPages >= 1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{|/admin/hoadon/${currentPage - 1}|}" aria-label="Previous">Trước</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{|/admin/hoadon/${i}|}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{|/admin/hoadon/${currentPage + 1}|}" aria-label="Next">Sau</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/javascript/admin.js}"></script>
</html>
