<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thống kê</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="container-fluid">
<article th:replace="~{admin/fragments/article :: article}"></article>
<header th:replace="~{admin/fragments/header :: header}"></header>
<nav th:replace="~{admin/fragments/nav :: nav}"></nav>
<section class="page-content">
    <div class="container">
        <!-- Input for selecting date range -->
        <div class="mb-3">
            <label for="startDate" class="form-label">Từ ngày:</label>
            <input type="date" class="form-control" id="startDate">
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">Đến ngày:</label>
            <input type="date" class="form-control" id="endDate">
        </div>

        <!-- Month input for selecting a specific month -->
        <div class="mb-3">
            <label for="monthInput" class="form-label">Chọn tháng:</label>
            <input type="month" class="form-control" id="monthInput">
        </div>

        <!-- Date input for selecting a specific day -->
        <div class="mb-3">
            <label for="dayInput" class="form-label">Chọn ngày:</label>
            <input type="date" class="form-control" id="dayInput">
        </div>

        <!-- Chart display area -->
        <div style="width: 50%; margin: auto;">
            <canvas id="orderStatusChart"></canvas>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    var hoa_dons = /*[[${hoaDons}]]*/ '{}';
    hoa_dons = JSON.parse(hoa_dons);
</script>
<script th:src="@{/javascript/thong_ke_hoa_don_trang_thai.js}"></script>
</body>
</html>
