<nav class="main-header" th:fragments="nav">
<!--  <div class="logo">-->
<!--    <span>YaGi_Shop</span>-->
<!--  </div>-->
<!--  <nav class="navbar">-->
<!--    <form action="">-->
<!--      <input type="text" placeholder="search all">-->
<!--      <button class="button">Search</button>-->
<!--    </form>-->

<!--&lt;!&ndash;    <ul class="navbar-left">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><i class="fas fa-bars"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->

<!--    <ul class="navbar-right">-->
<!--      <li class="user-profile">-->
<!--        <span>Admin</span>-->
<!--        <img th:src="@{/khi.jpg}" width="30px" height="30px" alt="User Image" class="user-img">-->
<!--      </li>-->
<!--&lt;!&ndash;      <li><a href="#"><i class="fas fa-cog"></i></a></li>&ndash;&gt;-->
<!--    </ul>-->
<!--  </nav>-->
</nav>