<nav class="main-header" th:fragments="nav">
  <div class="logo">
    <span>YaGi_Shop</span>
  </div>
  <nav class="navbar">
    <form action="">
      <input type="text" placeholder="seach all">
      <button class="button">Seacher</button>
    </form>

<!--    <ul class="navbar-left">-->
<!--      <li><i class="fas fa-bars"></i></li>-->
<!--    </ul>-->

    <ul class="navbar-right">
      <li class="user-profile">
        <span>Admin</span>
        <img th:src="@{/img/khi.jpg}" width="30px" height="30px"  alt="User Image" class="user-img">
      </li>
<!--      <li><a href="#"><i class="fas fa-cog"></i></a></li>-->
    </ul>

  </nav>
</nav>